*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    font-family: monospace;
}

.digital-container{
    border: 0.5vw solid #727171;
    width: 58%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 20%;
    top: 6vw;
    border-radius: 4.7vw;
    background-color: #919090;
    box-shadow: inset 4px 4px 7px white,
                inset -4px -4px 7px white;
}

.screen{
    font-size: 7rem;
    width: 88%;
    border: 0.4vw solid #727171;
    margin: 4vw 2vw;
    padding: 5vw 6vw;
    color: #9affc3;
    border-radius: 1.6vw;
    background-color: #000000fa;
    box-shadow: inset 4px 4px 6px #9b9a9a,
                inset -4px -4px 6px #9b9a9a;
    position: relative;
    text-shadow: 0 0 2px #9affc3,
                 0 0 6px #00ff99,
                 0 0 14px #00ff99,
                 0 0 24px #00cc66;
}
#meridiem{
    font-size: 3rem;
    position: absolute;
}
.date{
    font-size: 2rem;
    color: #caffca;
    letter-spacing: 1px;
    text-shadow: 0 0 2px #caffea,
                 0 0 6px #00ff99;
                 text-align: center;
    position: absolute;
    left: 17vw;
}
.box1{
    position: relative;
    border: 0.45vw solid #080808;
    width: 40vw;
    top: 6vw;
    left: 30%;
    border-top-left-radius: 1.8vw;
    border-top-right-radius: 1.8vw;
}
.box2{
    position: absolute;
    border: 1vw solid #080808;
    width: 8vw;
    top: 36vw;
    left: 30%;
    border-bottom-left-radius:1.1vw ;
    border-bottom-right-radius:1.1vw ;
}
.box3{
    position: absolute;
    border: 1vw solid #050505;
    width: 8vw;
    top: 36vw;
    left: 62%;
    border-bottom-left-radius:1.1vw ;
    border-bottom-right-radius:1.1vw ;
}

@media (max-width:768px) {
    .digital-container{
       width: 74%;
       top: 30vw;
       left: 12.5%;
       border: 0.8vw solid #727171;
    }
    .screen{
         font-size: 5rem;
         margin: 6.5vw 2vw;
         height: 26vw;
         border: 0.8vw solid #5c5b5b;
    }
    .box1{
        top: 30.2vw;
        border: 0.9vw solid #080808;
        background-color: #030303;
    }
    .box2{
        top: 72vw;
        background-color: #070707;
        border: 1.2vw solid #050505;
    }
    .box3{
        top: 72vw;
        background-color: #070707;
        border: 1.2vw solid #050505;
    }
}

@media (max-width:430px) {
    .digital-container{
        width: 80%;
        top: 42vw;
        border: 1.2vw solid #727171;
        left: 10%;
        background-color: #838383;
    }
    .screen{
        font-size: 3.1rem;
        width: 90%;
        height: 32vw;
        border: 1.2vw solid #5c5b5b;
    }
    #meridiem{
        font-size: 1.7rem;
        right: 3vw;
    }
    .date{
        font-size: 1.6rem;
        left: 15vw;
    }
    .box1{
        top: 42vw;
        height: 3.3vw;
        width: 43vw;
    }
    .box2{
        top: 92vw;
        height: 4vw;
        width: 12vw;
    }
    .box3{
        top: 92vw;
        height: 4vw;
        width: 12vw;
    }
}

@media (max-width:360px) {
    .screen{
        font-size: 2.5rem;
    }
    #meridiem{
        font-size: 1.5rem;
        right: 4vw;
    }
    .date{
        font-size: 1.4rem;
        left: 13.5vw;
    }
}